## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Qena,EG,26.1615,32.7183,53.71,50,100,3.36,overcast clouds
1,1,Rikitea,PF,-23.1203,-134.9692,76.37,75,100,6.15,overcast clouds
2,2,Marang,MY,5.2056,103.2059,85.91,71,100,7.38,overcast clouds
3,3,Hilo,US,19.7297,-155.0900,74.12,83,100,11.99,light rain
4,4,Hobart,AU,-42.8794,147.3294,71.46,50,0,4.00,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Rikitea,PF,-23.1203,-134.9692,76.37,75,100,6.15,overcast clouds
2,2,Marang,MY,5.2056,103.2059,85.91,71,100,7.38,overcast clouds
3,3,Hilo,US,19.7297,-155.0900,74.12,83,100,11.99,light rain
4,4,Hobart,AU,-42.8794,147.3294,71.46,50,0,4.00,clear sky
7,7,Kralendijk,BQ,12.1500,-68.2667,81.18,77,100,23.33,overcast clouds
8,8,Laredo,US,27.5064,-99.5075,73.85,88,1,10.36,clear sky
9,9,Vaini,TO,-21.2000,-175.2000,78.96,89,75,9.22,broken clouds
10,10,Busselton,AU,-33.6500,115.3333,76.08,38,0,4.85,clear sky
11,11,Avarua,CK,-21.2078,-159.7750,77.05,83,40,4.61,light rain
16,16,Tiarei,PF,-17.5333,-149.3333,80.62,75,14,15.52,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,76.37,overcast clouds,-23.1203,-134.9692,
2,Marang,MY,85.91,overcast clouds,5.2056,103.2059,
3,Hilo,US,74.12,light rain,19.7297,-155.0900,
4,Hobart,AU,71.46,clear sky,-42.8794,147.3294,
7,Kralendijk,BQ,81.18,overcast clouds,12.1500,-68.2667,
8,Laredo,US,73.85,clear sky,27.5064,-99.5075,
9,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,
10,Busselton,AU,76.08,clear sky,-33.6500,115.3333,
11,Avarua,CK,77.05,light rain,-21.2078,-159.7750,
16,Tiarei,PF,80.62,light rain,-17.5333,-149.3333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]


    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,76.37,overcast clouds,-23.1203,-134.9692,People ThankYou
2,Marang,MY,85.91,overcast clouds,5.2056,103.2059,DBarakah Homestay
3,Hilo,US,74.12,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
4,Hobart,AU,71.46,clear sky,-42.8794,147.3294,Mantra on Collins Hobart
7,Kralendijk,BQ,81.18,overcast clouds,12.1500,-68.2667,Divi Flamingo Beach Resort & Casino
8,Laredo,US,73.85,clear sky,27.5064,-99.5075,La Posada Hotel
9,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
10,Busselton,AU,76.08,clear sky,-33.6500,115.3333,Observatory Guest House
11,Avarua,CK,77.05,light rain,-21.2078,-159.7750,Paradise Inn
16,Tiarei,PF,80.62,light rain,-17.5333,-149.3333,Le Rocher de Tahiti

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))